tools:
  - name: Core/UserInputTemplate/CreateInputForm
    service: CreateDocumentService
    props:
      document: ${ workflow.options.document }
  - name: Core/UserInputTemplate/CreateUserResponse
    service: CreateDocumentService
    props:
      document: ${ workflow.options.document }
      update:
        content: ${ workflow.payload }
stateMachineTemplates:
  - name: Core/UserInputTemplate
    transitions:
      - name: start
        from: start
        to: started
        when: onEntry
      - name: request-form
        from: started
        to: waiting-for-user
        when: onEntry
      - name: response
        from: waiting-for-user
        to: received
        when: manual
      - name: finish
        from: received
        to: complete
        when: onEntry
      - name: unlock
        from: complete
        to: waiting-for-user
        when: manual
    handlers:
      - onTransition: request-form
        call: Core/UserInputTemplate/CreateInputForm
      - onTransition: response
        call: Core/UserInputTemplate/CreateUserResponse
