[submodule "packages/api"]
	path = packages/api
	url = git@github.com:loopstack-ai/api.git
[submodule "packages/core"]
	path = packages/core
	url = git@github.com:loopstack-ai/core.git
[submodule "libs/markdown-parser"]
	path = libs/markdown-parser
	url = git@github.com:loopstack-ai/markdown-parser.git
[submodule "libs/schema-to-template"]
	path = libs/schema-to-template
	url = git@github.com:loopstack-ai/schema-to-template.git
[submodule "packages/shared"]
	path = packages/shared
	url = git@github.com:loopstack-ai/shared.git
[submodule "frontend/api-client"]
	path = frontend/api-client
	url = git@github.com:loopstack-ai/api-client.git
[submodule "frontend/api-client-generator"]
	path = frontend/api-client-generator
	url = git@github.com:loopstack-ai/api-client-generator.git
[submodule "frontend/app-react"]
	path = frontend/app-react
	url = git@github.com:loopstack-ai/app-react.git
[submodule "frontend/websocket"]
	path = frontend/websocket
	url = git@github.com:loopstack-ai/websocket.git
[submodule "apps/demo"]
	path = apps/demo
	url = git@github.com:loopstack-ai/demo.git
[submodule "packages/llm"]
	path = packages/llm
	url = git@github.com:loopstack-ai/llm.git
