[submodule "packages/api"]
	path = packages/api
	url = git@github.com:loopstack-ai/api.git
[submodule "packages/core"]
	path = packages/core
	url = git@github.com:loopstack-ai/core.git
[submodule "packages/common"]
	path = packages/common
	url = git@github.com:loopstack-ai/common.git
[submodule "packages/contracts"]
	path = packages/contracts
	url = git@github.com:loopstack-ai/contracts.git
[submodule "packages/llm"]
    path = packages/llm
    url = git@github.com:loopstack-ai/llm.git
[submodule "packages/auth"]
    path = packages/auth
    url = git@github.com:loopstack-ai/auth.git
[submodule "templates/app-template"]
    path = templates/app-template
    url = git@github.com:loopstack-ai/app-template.git
[submodule "templates/blank-template"]
    path = templates/blank-template
    url = git@github.com:loopstack-ai/blank-template.git
[submodule "templates/testing-template"]
    path = templates/testing-template
    url = git@github.com:loopstack-ai/testing-template.git
[submodule "frontend/api-client"]
	path = frontend/api-client
	url = git@github.com:loopstack-ai/api-client.git
[submodule "packages/auth"]
    path = packages/auth
    url = git@github.com:loopstack-ai/auth.git
[submodule "apps/loopstack-cloud/hub-client"]
	path = apps/loopstack-cloud/hub-client
	url = git@github.com:loopstack-ai/hub-client.git
[submodule "apps/loopstack-cloud/server"]
	path = apps/loopstack-cloud/server
	url = git@github.com:loopstack-ai/hub.git
[submodule "apps/loopstack-cloud/website"]
	path = apps/loopstack-cloud/website
	url = git@github.com:loopstack-ai/website.git
[submodule "apps/loopstack-cloud/frontend"]
	path = apps/loopstack-cloud/frontend
	url = git@github.com:loopstack-ai/loopstack-cloud.git
[submodule "frontend/loopstack-studio"]
	path = frontend/loopstack-studio
	url = git@github.com:loopstack-ai/loopstack-studio.git

