tools:
  - name: core/createTemplateDocumentUserUpdate
    service: CreateDocumentService
    props:
      document: ${ workflow.options.document }
      update:
        content: ${ workflow.payload }