# File Includes
include:
  - core/documents/message.yaml

tools:
  - name: batch_create_messages
    parameters:
      type: object
      properties:
        items:
          type: array
          items:
            type: object
            properties:
              role:
                type: string
              content:
                type: array
                items:
                  type: any
            required:
              - role
              - content
            additionalProperties: false
      required:
        - items
      additionalProperties: false
    execute:
      - handler: BatchCreateDocumentsHandler
        arguments:
          document: message
          items: ${ arguments.items }
