tools:
  - name: delegate_tool_calls
    parameters:
      type: object
      properties:
        messages:
          type: array
          items:
            type: object
            properties:
              role:
                type: string
              content:
                type: array
                items:
                  type: any
            required:
              - role
              - content
            additionalProperties: false
      required:
        - messages
      additionalProperties: false
    execute:
      - handler: DelegateToolCallsHandler
        arguments:
          messages: ${ arguments.messages }