@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap');
@import 'tailwindcss';
@import 'tw-animate-css';

@custom-variant dark (&:is(.dark *));

@theme inline {
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
}

:root {
  --radius: 0.625rem;
  --background: #f5f8fe;
  --foreground: #080808;
  --card: #ffffff;
  --card-foreground: #080808;
  --popover: #ffffff;
  --popover-foreground: #000000;
  --primary: #006dcc;
  --primary-foreground: #ffffff;
  --secondary: #dfe1e5;
  --secondary-foreground: #000000;
  --muted: #ebecf0;
  --muted-foreground: #6c707e;
  --accent: #e4e6eb;
  --accent-foreground: #000000;
  --destructive: #de1b2e;
  --border: #d4d4d4;
  --input: #aeb3c2;
  --ring: #006dcc;
  --chart-1: #00627a;
  --chart-2: #067d17;
  --chart-3: #0033b3;
  --chart-4: #871094;
  --chart-5: #8c4f00;
  --sidebar: #ebecf0;
  --sidebar-foreground: #080808;
  --sidebar-primary: #006dcc;
  --sidebar-primary-foreground: #ffffff;
  --sidebar-accent: #e4e6eb;
  --sidebar-accent-foreground: #000000;
  --sidebar-border: #d4d4d4;
  --sidebar-ring: #006dcc;
}

.dark {
  --background: #191a1c;
  --foreground: #bcbec4;
  --card: #2b2d30;
  --card-foreground: #bcbec4;
  --popover: #2b2d30;
  --popover-foreground: #ced0d6;
  --primary: #548af7;
  --primary-foreground: #f1f2f4;
  --secondary: #343539;
  --secondary-foreground: #ced0d6;
  --muted: #26292c;
  --muted-foreground: #9da0a8;
  --accent: #393b40;
  --accent-foreground: #ced0d6;
  --destructive: #f75464;
  --border: #2b2d30;
  --input: #43454a;
  --ring: #548af7;
  --chart-1: #56a8f5;
  --chart-2: #6aab73;
  --chart-3: #cf8e6d;
  --chart-4: #c77dbb;
  --chart-5: #2aacb8;
  --sidebar: #1f2024;
  --sidebar-foreground: #bcbec4;
  --sidebar-primary: #548af7;
  --sidebar-primary-foreground: #f1f2f4;
  --sidebar-accent: #393b40;
  --sidebar-accent-foreground: #ced0d6;
  --sidebar-border: #2b2d30;
  --sidebar-ring: #548af7;
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }

  button:not([disabled]),
  [role='button']:not([disabled]) {
    cursor: pointer;
  }
}

@layer base {
  html {
    font-family: 'Roboto', Arial, sans-serif;
  }
}

.workbench-sidebar {
  --sidebar-width: 24rem !important;
}
